// Define theme colors
$dark-grey: #c1c1c1;
$black: #121212;
$medium-grey: #e8e8e8;
$main-yellow: #ffcd00;

//custom transition time

//css reset
// Neue Haas Grotesk Display Pro not used because it is paid
html,
body {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

body {
  background-color: $dark-grey;
  color: $black;
}

// general reusable styles

.button {
  font-size: 0.75rem;
  width: 13.9375rem;
  height: 5.625rem;
  border-radius: 8.0625rem;
  border: 1px solid $black;
  background-color: $dark-grey;
  text-transform: uppercase;
  transition: ease-in-out 0.3s all;

  &.schedule {
    background: $black;
    color: white;
    width: 13.9375rem;

    &.bquo {
      width: 100%;
    }
  }

  &:hover {
    background-color: $main-yellow;
    cursor: pointer;
  }
}

// Navbar
.navbar {
  margin: 1.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;

  ul {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.125rem;

    li a {
      color: $black;
      text-decoration: none;
      transition: ease-in-out 0.3s all;

      &:hover {
        opacity: 0.65;
      }
    }
  }
}

// video placeholder
.video-placeholder-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 200px 30px;

  .video-placeholder {
    max-width: 1416px;
    height: 720px;
    min-height: 500px;
    width: 100%;

    margin: 1.875rem;
    border-radius: 1.875rem;
    background-image: url(../public/assets/hallway.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 30px;

    .play-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;

      background-color: $black;
      color: white;
      text-transform: uppercase;
      font-weight: bold;

      width: 185px;
      height: 90px;
      gap: 0px;
      border-radius: 129px;

      p {
        margin: 15px;
        margin-left: 30px;
      }

      .play-button {
        width: 66px;
        height: 66px;
        border-radius: 100%;
        background-color: $main-yellow;
        margin: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

// choose us section
.choose-us-section {
  margin: 0 30px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  position: relative;

  .choose-us-section--left {
    .plus-wrapper {
      position: absolute;
      bottom: 30px;
      left: 0;
    }
  }
  h2 {
    font-size: 62px;
    font-weight: 500;
    line-height: 68px;
    letter-spacing: -0.01em;
    text-align: left;
    color: $black;
    margin-top: 0px;
    margin-bottom: auto;
  }

  .choose-us-section--right {
    margin-bottom: 30px;
    .card-top {
      border-top: solid 1px $black;
      display: grid;
      grid-template-columns: auto 1fr auto;
      align-items: start;
      gap: 30px;
      padding-top: 30px;
      margin-bottom: 30px;

      .card-top--left {
        grid-column: 1;
        margin-right: 20px;
        font-weight: 500;
        font-size: 12px;
      }

      .card-top--middle {
        grid-column: 2;
        p {
          max-width: 432px;
          margin: 0;
          font-size: 20px;
        }
      }

      .card-top--right {
        grid-column: 3;
      }
    }
  }
}

//footer
footer {
  margin-top: 400px;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;

  .logo-container {
    width: 100%;
    max-width: 1380px;
    margin-right: auto;
    img {
      width: 100%;
      height: auto;
      max-width: 100%;
    }
  }

  .copyright {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    gap: 15px;

    .copyright-mark {
      font-size: 12px;
      color: grey;
      span {
        color: $black;
      }
    }
  }
}

//LinkList

.linklist {
  margin: 30px;
  margin-top: 200px;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 300px;

  p {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    margin-right: 30px;
    color: grey;
    margin-top: 0;
  }

  .column {
    flex: 1;
    width: 16.666%;
    padding: 0.5rem;

    &.column-1 {
      flex: 2;
    }

    h3 {
      margin-bottom: 1.2rem;
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      text-align: left;
      color: grey;
      margin-top: 0;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 0.5rem;

        a {
          text-decoration: none;
          color: $black;
          font-size: 14px;
          font-weight: 500;
          line-height: 18px;
          text-align: left;

          &:hover {
            color: grey;
          }
        }
      }
    }
  }
}

.hero {
  margin-bottom: 200px;
  .hero-top {
    margin: 1.875rem;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    font-weight: 500;
    gap: 60px;
    margin-bottom: 80px;
    margin-top: 100px;

    p {
      color: grey;
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      text-align: left;
    }
  }
  .hero-bottom {
    margin: 1.875rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-weight: 500;
    gap: 30px;
    position: relative;

    p {
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      text-align: left;
      z-index: 10;
    }

    h1 {
      font-size: 88px;
      font-weight: 500;
      line-height: 88px;
      letter-spacing: -0.01em;
      text-align: left;
      margin: 0;
      z-index: 10;
    }

    .button {
      align-self: flex-end;
      z-index: 10;
    }

    .pluses {
      position: absolute;
      z-index: 1;
      bottom: 50px;
      right: 200px;
    }
  }
}

//Business Quo
.business-quo {
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.individuals {
    flex-direction: row-reverse;
    background-color: $medium-grey;

    .image-button {
      margin-right: 50px;
      background-image: url(../public/assets/individuals.png);
    }
  }

  .title {
    font-size: 62px;
    font-weight: 500;
    line-height: 68px;
    letter-spacing: -0.01em;
    text-align: left;
    margin: 0px;
    margin-bottom: 50px;
  }
  .page-number {
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    text-align: left;
    margin-bottom: 30px;
  }
  .description-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-top: 1px solid $black;
    padding-top: 30px;
    margin-bottom: 30px;
    gap: 20px;

    .desc-title {
      color: grey;
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      text-align: left;
      margin-right: 50px;
    }
    .information {
      font-size: 20px;
      font-weight: 500;
      line-height: 26px;
      text-align: left;
      max-width: 640px;
      padding-right: 50px;
    }

    .insights {
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      text-align: left;
      margin-right: 30px;

      p {
        margin-top: 0px;
        max-width: 223px;
      }
    }
  }

  .image-button {
    width: 421px;
    height: 636px;
    background-image: url(../public/assets/talking-bquo.png);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    border-radius: 20px;
  }
}

.fairness-section {
  background-color: $black;
  color: white;
  border-radius: 30px;
  padding: 30px;
  margin: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .left {
    .page-number {
      font-size: 14px;
      font-weight: 600;
      line-height: 14px;
      text-align: left;
    }

    .title {
      font-size: 62px;
      font-weight: 500;
      line-height: 68px;
      letter-spacing: -0.01em;
      text-align: left;
      margin-bottom: 100px;
    }
    span {
      color: $main-yellow;
    }

    .information {
      color: grey;
      max-width: 283px;
      margin-top: 100px;
      p {
        margin-bottom: 30px;
      }
      .border-top {
        border-top: solid 1px white;
        padding-top: 30px;
      }
    }
  }

  .right {
    max-width: 670px;
    padding-right: 50px;
    padding-top: 80px;

    .quoteblock {
      margin-bottom: 50px;
      .profile {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
        img {
          border-radius: 100%;
        }
      }

      .name-wrapper {
        .name {
          font-size: 20px;
          font-weight: 600;
          line-height: 22px;
          text-align: left;
          margin: 0px;
        }

        .role {
          font-size: 14px;
          font-weight: 500;
          line-height: 22px;
          text-align: left;
          margin: 0px;
          color: grey;
        }
      }
    }
  }

  .swiper {
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 30px;

    .circle {
      border-radius: 100%;
      background: rgba(255, 255, 255, 0.1);
      height: 66px;
      width: 66px;
      display: flex;
      align-items: center;
      justify-content: center;

      transition: ease-in-out 0.3s all;

      &:hover {
        background: rgba(255, 255, 255, 0.2);
        cursor: pointer;
      }
    }

    p {
      font-size: 20px;
      font-weight: 500;
      line-height: 26px;
      text-align: left;

      span {
        color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}
